.detail-item {
  border-top: 1px solid rgba(0, 0, 0, .15);
}

.detail-item:first-child {
  border-top: 0;
}

.main-temperature-unit {
  position: absolute;
  font-size: 18px;
  bottom: 0;
  right: 0;
}

.main-temperature-value {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

.real-feel-text {
  font-size: 1.25rem;
}
