.search-bar {}

.search-bar-form-wrapper {}

.search-bar-dropdown {
  top: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.search-bar.active .search-bar-dropdown {
  opacity: 1;
  visibility: visible;
}

.recent-locations-item, .search-locations-item {
  border-top: 1px solid rgba(0, 0, 0, .15);
}

.search-locations-item:first-child {
  border-top: 0;
}
